* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  appearance: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* Light mode and Dark mode */
body {
  --primary-color: #3f8bc5;
  --secondary-color: #2c3e50;
  --background-color: #f5f5f5;
  --bb: white;
  background-color: var(--bb);
  color: var(--secondary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body.dark-mode {
  --primary-color: #65a2b7;
  --secondary-color: rgb(183, 181, 181);
  --background-color: #212529;
  --bb: #242424;
}

body.dark-mode button {
  box-shadow: none;
}

body.dark-mode #board {
  border-color: #555;
}

/* Sudoku Solver */
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin-top: 20px;
  border: 2px solid var(--primary-color);
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.cell:hover {
  background-color: #e6e6e6;
}

input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  margin-top: 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6db9c5;
}

button:active {
  background-color: #447c8a;
}

.solutions {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.switch {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: yellow;
  border-radius: 34px;
  transition: background-color 0.3s ease;
}

.slider:before {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: 26px;
  height: 26px;
  background-image: url('screenshots/sun.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  transition: transform 0.5s ease;
}

.slider:after {
  content: "";
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: contain;
  color: yellow;
  border-radius: 50%;
  transition: transform 0.3s ease;
}


input:checked + .slider {
  background-color: #5921f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-image: url('screenshots/rest.png');
}

input:checked + .slider:after {
  transform: translateX(-26px);
}

/* Animation */
.fill-animation {
  animation-name: fillCell;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fillCell {
  from {
  }
  to {
    background-color: rgb(66, 64, 148);
    color: #fff;
  }
}

.wrong-cell {
  background-color: red;
}

#hintBtn {
  background-color: #4a98ff;
}

#resetBtn {
  background-color: #4C4AFF;
}

.Btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 25px; /* Increase the border-radius value for curvier buttons */
  cursor: pointer;
  transition: background-color 0.3s;
  width: 90px; /* Set the width to the desired value for a square shape */
  height: 70px; /* Set the height to the same value as the width */
  margin-right: 10px; /* Add some spacing between the buttons */
}

.Btn:hover {
  background-color: #fff;
}

/* Button Icon */
.button-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px; /* Add some spacing between the icon and the text */
}


#emptyElement {
  height: 20px;
}
.Btn:hover {
  background-color: #fff;
  color: black;
  
}

.Btn:hover .button-icon {
  filter: brightness(0.8); /* Adjust the brightness to your preference */
}

#solveBtn {
  background-color: #2c3e50;

  color: white; /* Change the text color to black */
}


#solveBtn:hover {
  color: black;
}

#solveBtn:hover .button-icon path {
  fill: BLACK; /* Change the icon color to white on hover */
  
}


.button-icon path {
  fill: white; /* Set the initial icon color to white */
  transition: fill 0.3s ease; /* Add a transition effect for a smooth color change */
}

.Btn:hover .button-icon path {
  fill: black; /* Change the icon color to black on hover */
}

.cell.prefilled {
  color: red;
}
.cell.hint {
  background-color: #00c6ff;
}


.wrong {
  background-color: #ffb6b6;
}
.dark-mode .board {
  border-color: #fff;
}

.cell .dark-mode{
  background-color:rgb(33, 37, 41);
  color: #fff;
}

.dark-mode .prefilled {
  background-color: #777;
}

.dark-mode .wrong {
  background-color: #b84d4d;
}

.dark-mode .hint {
  background-color: #4db84d;
}